<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="error-container">
            <h1>Oops!</h1>
            <div class="error-message">
                <%= message %>
            </div>
            <% if (error && error.status) { %>
                <div class="error-status">
                    Status: <%= error.status %>
                </div>
            <% } %>
            <a href="/" class="button">Return to Home</a>
        </div>
    </div>
</body>
</html>