<!DOCTYPE html>
<html>
<head>
    <title>My Express Recipe App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/recipes/new">Add Recipe</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to My Recipe App!</h1>
        <p>Check out my collection of awesome recipes!</p>
        
        <div>
            <h2>What I've Built:</h2>
            <ul>
                <li>Express Server</li>
                <li>EJS Templates</li>
                <li>Basic Routing</li>
            </ul>
        </div>

        <a href="/recipes" class="button">View Recipes</a>
    </div>
</body>
</html>